* {
    padding: 0px;
    border: none;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
main {
    width: 500px;
    padding: 15px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
button {
    padding: 6px 8px;
    border: 1px solid black;
    margin: 15px 0px;
}
button:hover {
    background-color: gold;
    cursor: pointer;
}
#userTextInput {
    width: 90%;
    border: 1px solid black;
}