* {
    padding: 0px;
    border: none;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
main {
    width: 500px;
    padding: 15px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer {
    width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
h2 {
    margin-top: 30px;
    text-align: center;
}
p {
    margin-top: 15px;
}
button {
    padding: 6px 8px;
    border: 1px solid black;
    margin: 15px 3px;
}
button:hover {
    background-color: gold;
    cursor: pointer;
}
.optionsTextSpacing {
    margin: 0px 0px 0px 3px;
}
.optionsTextSpacingVertical {
    margin: 0px;
}
.detailedStats {
    color: grey;
}
.variableNumbersToDisplay {
    display: flex;
    flex-direction: column;
}
.variableNumbersToDisplay div {
    display: flex;
    align-items: center;
    padding: 5px;
    line-height: 100%;
}
#inputInterface {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#userTextInput {
    width: 90%;
    border: 1px solid black;
}
#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#options, #results {
    width: 100%;
}
#options {
    display: none;
    padding: 10px 15px 15px 15px;
    border: 1px solid black;
    margin: 0px 0px 15px 0px;
}
#options h2 {
    margin-top: 0px;
}
#options div {
    display: flex;
}
#extraWordsDiv {
    flex-direction: column;
}
#extraWords {
    border: 1px solid black;
    width: 300px;
    margin: 10px 0px 3px 0px;
}
#numOfTwoLettersRep, #numOfSingleWordsRep, #numOfTwoWordPhrasesRep {
    margin-top: 0px;
    margin-left: 15px;
}
#summary {
    margin-top: 0px;
}
@media screen and (max-width: 500px) {
    header, main, footer {
        width: 100%;
    }
    #extraWords {
        width: 100%;
    }
}
